In [ ]:
!pip install pycaret

In [1]:
import pandas 
import pycaret

In [5]:
data = pandas.read_csv("/home/akarx/MLOps_NLP/datasets/credicard.csv")
data.head()

/home/akarx/MLOps/mlops_venv/lib/python3.10/site-packages/IPython/core/formatters.py:347: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()
/home/akarx/MLOps/mlops_venv/lib/python3.10/site-packages/IPython/core/formatters.py:347: FutureWarning: RangeIndex.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
df = data.iloc[:, :-1]

In [7]:
df.head()

/home/akarx/MLOps/mlops_venv/lib/python3.10/site-packages/IPython/core/formatters.py:347: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()
/home/akarx/MLOps/mlops_venv/lib/python3.10/site-packages/IPython/core/formatters.py:347: FutureWarning: RangeIndex.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [8]:
from pycaret.anomaly import *

s = setup(df,  log_experiment = True, experiment_name = 'fraud_anomaly')

2024/06/25 08:38:22 INFO mlflow.tracking.fluent: Experiment with name 'fraud_anomaly' does not exist. Creating a new experiment.

In [9]:
models()

,Name,Reference
ID,,
abod,Angle-base Outlier Detection,pyod.models.abod.ABOD
cluster,Clustering-Based Local Outlier,pycaret.internal.patches.pyod.CBLOFForceToDouble
cof,Connectivity-Based Local Outlier,pyod.models.cof.COF
iforest,Isolation Forest,pyod.models.iforest.IForest
histogram,Histogram-based Outlier Detection,pyod.models.hbos.HBOS
knn,K-Nearest Neighbors Detector,pyod.models.knn.KNN
lof,Local Outlier Factor,pyod.models.lof.LOF
svm,One-class SVM detector,pyod.models.ocsvm.OCSVM
pca,Principal Component Analysis,pyod.models.pca.PCA
mcd,Minimum Covariance Determinant,pyod.models.mcd.MCD
sod,Subspace Outlier Detection,pyod.models.sod.SOD
sos,Stochastic Outlier Selection,pyod.models.sos.SOS

#### Trying out a single model

In [10]:
iforest = create_model('iforest', fraction = 0.1)
iforest_results = assign_model(iforest)
iforest_results.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Anomaly,Anomaly_Score
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.619995,0,-0.078521
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,0,-0.096884
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660004,1,0.000925
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0,-0.060234
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.798279,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.989998,0,-0.077995

In [11]:
iforest_results[iforest_results['Anomaly'] == 1].head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Anomaly,Anomaly_Score
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660004,1,0.000925
7,7,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.799999,1,0.036151
18,14,-5.401258,-5.450148,1.186305,1.736239,3.049106,-1.763406,-1.559738,0.160842,1.233090,...,0.984460,2.458589,0.042119,-0.481631,-0.621272,0.392053,0.949594,46.799999,1,0.057174
51,36,-1.004929,-0.985978,-0.038039,3.710061,-6.631951,5.122103,4.371691,-2.006867,-0.278736,...,-0.381671,0.969719,0.019445,0.570923,0.333278,0.857373,-0.075538,1402.949951,1,0.090831
69,46,-1.923213,-0.870482,2.320170,1.988776,0.417091,-0.380014,0.472139,-0.557333,-0.649079,...,-0.779268,1.086055,0.518863,-0.363712,3.065576,-0.589022,-0.396110,35.000000,1,0.015127

In [12]:
!mlflow ui

[2024-06-25 08:39:35 +0000] [1541252] [INFO] Starting gunicorn 22.0.0
[2024-06-25 08:39:35 +0000] [1541252] [INFO] Listening at: http://127.0.0.1:5000 (1541252)
[2024-06-25 08:39:35 +0000] [1541252] [INFO] Using worker: sync
[2024-06-25 08:39:35 +0000] [1541253] [INFO] Booting worker with pid: 1541253
[2024-06-25 08:39:35 +0000] [1541254] [INFO] Booting worker with pid: 1541254
[2024-06-25 08:39:35 +0000] [1541255] [INFO] Booting worker with pid: 1541255
[2024-06-25 08:39:35 +0000] [1541256] [INFO] Booting worker with pid: 1541256
^C
[2024-06-25 08:40:31 +0000] [1541252] [INFO] Handling signal: int
[2024-06-25 08:40:31 +0000] [1541254] [INFO] Worker exiting (pid: 1541254)
[2024-06-25 08:40:31 +0000] [1541255] [INFO] Worker exiting (pid: 1541255)
[2024-06-25 08:40:31 +0000] [1541253] [INFO] Worker exiting (pid: 1541253)
[2024-06-25 08:40:31 +0000] [1541256] [INFO] Worker exiting (pid: 1541256)

#### Trying out all possible models

In [13]:
from pycaret.classification import *

s = setup(data, target = 'Class',  log_experiment = True, experiment_name = 'Class_prediction')

2024/06/25 08:41:50 INFO mlflow.tracking.fluent: Experiment with name 'Class_prediction' does not exist. Creating a new experiment.

In [14]:
best = compare_models()

In [19]:
!mlflow ui --port=8080

[2024-06-25 08:49:21 +0000] [1552082] [INFO] Starting gunicorn 22.0.0
[2024-06-25 08:49:21 +0000] [1552082] [INFO] Listening at: http://127.0.0.1:8080 (1552082)
[2024-06-25 08:49:21 +0000] [1552082] [INFO] Using worker: sync
[2024-06-25 08:49:21 +0000] [1552083] [INFO] Booting worker with pid: 1552083
[2024-06-25 08:49:21 +0000] [1552084] [INFO] Booting worker with pid: 1552084
[2024-06-25 08:49:21 +0000] [1552085] [INFO] Booting worker with pid: 1552085
[2024-06-25 08:49:22 +0000] [1552086] [INFO] Booting worker with pid: 1552086
^C
[2024-06-25 08:50:48 +0000] [1552082] [INFO] Handling signal: int
[2024-06-25 08:50:48 +0000] [1552086] [INFO] Worker exiting (pid: 1552086)
[2024-06-25 08:50:48 +0000] [1552084] [INFO] Worker exiting (pid: 1552084)
[2024-06-25 08:50:48 +0000] [1552083] [INFO] Worker exiting (pid: 1552083)
[2024-06-25 08:50:48 +0000] [1552085] [INFO] Worker exiting (pid: 1552085)